.archive_post {
	position: relative;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 50px;

	.entry-thumbnail {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: 75%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.entry-content {
		padding: 15px 0;

		h3 {
			margin: 0;
		}

		a {
			text-decoration: none;

			&:hover {
				color: #ffa71a;
			}
		}
	}

	.the_excerpt {
		@include set-line(3);
	}
}

.new_Post {
	position: relative;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);

	.entry-thumbnail {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: 75%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.entry-content {
		padding: 15px 0;

		h3 {
			margin: 0;
		}

		a {
			text-decoration: none;

			&:hover {
				color: #ffa71a;
			}
		}
	}

	.the_excerpt {
		@include set-line(3);
	}
}